# Fabric project
fabric-1.21.4/.gradle/
fabric-1.21.4/build/
fabric-1.21.4/run/
fabric-1.21.4/.idea/

# Forge project
forge-1.7.10/.gradle/
forge-1.7.10/build/
forge-1.7.10/run/
forge-1.7.10/.idea/

# IntelliJ project root
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
packaging command
